[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/memcached"]
	path = cookbooks/memcached
	url = https://github.com/opscode-cookbooks/memcached.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/cookbook-curl"]
	path = cookbooks/cookbook-curl
	url = https://github.com/retr0h/cookbook-curl.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = http://github.com/opscode-cookbooks/php
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = http://github.com/opscode-cookbooks/git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/nfs"]
	path = cookbooks/nfs
	url = http://github.com/atomic-penguin/cookbook-nfs
